### General ###
*.lock

### Jekyll ###
_site/

### Sass ###
.sass-cache

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db

## Config file to test locally ##
# Run as:
# bundle exec jekyll serve --livereload --config _config_local.yml
_config_local.yml
